<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments.html :: main-head"></div>
    <title>My Hotple Shared Place Page</title>
</head>
<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<h2 style="margin-top: 50px; margin-bottom: 50px; text-align: center">Shared Place List</h2>
<table class="table table-hover" style="text-align: center; width: 75%;  margin: 40px auto;">
    <thead>
    <tr class="table-primary">
        <th scope="col">번호</th>
        <th scope="col">카테고리</th>
        <th scope="col">장소 이름</th>
        <th scope="col">글쓴이</th>
        <th scope="col">작성일</th>
        <th scope="col">조회</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-active" th:each="myplace: ${myplaceDTOPage}">
        <td th:text="${myplace.id}"></td>
        <td th:text="${myplace.category}"></td>
        <td><a th:href="@{|/shared/${myplace.id}|(page=${myplaceDTOPage.number + 1})}" th:text="${myplace.placeName} "></a></td>
        <td th:text="${myplace.userNickname}"></td>
        <td th:text="*{#temporals.format(myplace.createdTime, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${myplace.views}"></td>
    </tr>
    </tbody>
</table>
<div style="text-align: center">
    <!-- 첫번째 페이지로 이동 -->
    <!-- /shared/list?page=1 -->
    <a th:href="@{/shared/list(page=1)}">First</a>
    <!-- 이전 링크 활성화 비활성화 -->
    <!-- boardList.getNumber() 사용자:2페이지 getNumber()=1 -->
    <a th:href="${myplaceDTOPage.first} ? '#' : @{/shared/list(page=${myplaceDTOPage.number})}">prev</a>

    <!-- 페이지 번호 링크(현재 페이지는 숫자만)
            for(int page=startPage; page<=endPage; page++)-->
    <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
<!-- 현재페이지는 링크 없이 숫자만 -->
        <span th:if="${page == myplaceDTOPage.number + 1}" th:text="${page}"></span>
        <!-- 현재페이지 번호가 아닌 다른 페이지번호에는 링크를 보여줌 -->
        <span th:unless="${page == myplaceDTOPage.number + 1}">
            <a th:href="@{/shared/list(page=${page})}" th:text="${page}"></a>
        </span>
    </span>

    <!-- 다음 링크 활성화 비활성화
        사용자: 2페이지, getNumber: 1, 3페이지-->
    <a th:href="${myplaceDTOPage.last} ? '#' : @{/shared/list(page=${myplaceDTOPage.number + 2})}">next</a>
    <!-- 마지막 페이지로 이동 -->
    <a th:href="@{/shared/list(page=${myplaceDTOPage.totalPages})}">Last</a>
</div>
</body>
</html>