<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments.html :: main-head"></div>
    <title>My Hotple Shared Place Page</title>
</head>
<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<h2 style="margin-top: 50px; margin-bottom: 50px; text-align: center">Shared Place List</h2>
<table class="table table-hover" style="text-align: center; width: 75%;  margin: 40px auto;">
    <thead>
    <tr class="table-primary">
        <th scope="col">번호</th>
        <th scope="col">카테고리</th>
        <th scope="col">장소 이름</th>
        <th scope="col">글쓴이</th>
        <th scope="col">작성일</th>
        <th scope="col">조회</th>
        <th scope="col">좋아요</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-active" th:each="myplace: ${myplaceList}" th:if="${myplace.share eq true}">
        <td th:text="${myplace.id}"></td>
        <td th:text="${myplace.category}"></td>
        <td><a th:href="@{|/shared/${myplace.id}|}" th:text="${myplace.placeName} "></a></td>
        <td th:text="${myplace.userNickname}"></td>
        <td th:text="*{#temporals.format(myplace.createdTime, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${myplace.views}"></td>
        <td th:text="${myplace.likes}"></td>
    </tr>
    </tbody>
</table>
</body>
<script>
    const pagingReq = () => {
        location.href = "/board/paging"
    }
</script>
</html>