<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title th:text="${myplace.placeName}"></title>
  <div th:replace="fragments.html :: main-head"></div>
</head>
<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<div class="card mb-3" bis_skin_checked="1" style="width: 60%; margin: 50px auto;">
  <h3 class="card-header" th:text="${myplace.placeName}"></h3>
  <div class="card-body" bis_skin_checked="1">
    <h5 class="card-title" th:text="${myplace.address}"></h5>
    <h6 class="card-subtitle text-muted" style="text-align: right" th:text="' 조회수: ' + ${myplace.views}"></h6>
  </div>
  <svg th:if="${myplace.fileAttached == 1}"
       xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="0" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
    <text th:each="fileName: ${myplace.storedFileName}">
      <img th:src="@{|/upload/${fileName}|}" alt="">
    </text>
  </svg>
  <div class="card-body" bis_skin_checked="1">
    <p class="card-text" th:text="${myplace.category}"></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" th:text="${myplace.contents}"></li>
    <li class="list-group-item" th:text="'공유 여부: ' + ${myplace.share}"></li>
  </ul>
  <ul class="list-group list-group-flush">
    <div id="map" style="width:100%;height:350px;"></div>
  </ul>
  <div class="card-body" bis_skin_checked="1">
    <div style="text-align: right">
      <a th:href="@{/myplace/list(page=${page})}" class="card-link">목록</a>
      <a th:if="${myplace.user.username == #authentication.name}" th:href="@{|/myplace/edit/${myplace.id}|}" class="card-link">수정</a>
      <a th:if="${myplace.user.username == #authentication.name}" th:href="@{|/myplace/delete/${myplace.id}|}" class="card-link" onclick="confirmDelete()">삭제</a>
    </div>
  </div>
  <div class="card-footer text-muted" bis_skin_checked="1"
       th:text="*{#temporals.format(myplace.createdTime, 'yyyy-MM-dd HH:mm:ss')}">
  </div>
</div>
<div id="comment-list">
  <div class="card" bis_skin_checked="1" th:each="comment: ${commentList}" style="width: 60%; margin: 15px auto;">
    <div class="card-body" bis_skin_checked="1">
      <h6 class="card-subtitle mb-2 text-muted" th:text="${comment.commentWriter}"></h6>
      <p class="card-text" th:text="${comment.commentContents}"></p>
      <div style="text-align: right">
        <p th:text="*{#temporals.format(comment.commentCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></p>
      </div>
    </div>
  </div>
</div>
</body>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=dd6b3f845722d3c2dbd4187f59ed228d&libraries=services"></script>
<script th:inline="javascript">
  var address = [[${myplace.address}]];
  var placeName = [[${myplace.placeName}]]

  var mapContainer = document.getElementById('map'), // 지도를 표시할 div
          mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
          };

  // 지도를 생성합니다
  var map = new kakao.maps.Map(mapContainer, mapOption);

  // 주소-좌표 변환 객체를 생성합니다
  var geocoder = new kakao.maps.services.Geocoder();

  // 주소로 좌표를 검색합니다
  geocoder.addressSearch(address, function(result, status) {

    // 정상적으로 검색이 완료됐으면
    if (status === kakao.maps.services.Status.OK) {

      var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

      // 결과값으로 받은 위치를 마커로 표시합니다
      var marker = new kakao.maps.Marker({
        map: map,
        position: coords
      });

      // 인포윈도우로 장소에 대한 설명을 표시합니다
      var infowindow = new kakao.maps.InfoWindow({
        content: '<div style="width:150px;text-align:center;padding:6px 0;">' + placeName + '</div>'
      });
      infowindow.open(map, marker);

      // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
      map.setCenter(coords);
    }
  });

  function confirmDelete() {
    var result = confirm("삭제하시겠습니까?");
    if (result) {
      alert("삭제되었습니다.");
    } else {
      event.preventDefault();
    }
  }
</script>
</html>