<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="~{layout/head.html :: main-head}"></div>
    <title>My Hotple myplace page</title>
    <script type="text/javascript" th:src="@{/js/write.js}"></script>
</head>
<body>
<nav th:replace="~{layout/nav.html :: main-nav}"></nav>
<h3 style="margin: 50px; text-align: center;">내 장소 수정하기</h3>
<form name="myplaceForm" action="/myplace/edit" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="put"/>
    <fieldset>
        <div class="form-group"
             bis_skin_checked="1" style="width: 40%; margin: 0 auto;">
            <label class="col-form-label mt-4">장소 이름</label>
            <input type="hidden" name="id" th:value="${myplaceEdit.id}">
            <input type="text" class="form-control" name="placeName" th:value="${myplaceEdit.placeName}">
        </div>
        <div class="form-group" bis_skin_checked="1" style="width: 40%; margin: 0 auto;">
            <label class="col-form-label mt-4">주소</label>
            <input type="text" class="form-control" name="address" th:value="${myplaceEdit.address}">
        </div>
        <div class="form-group" bis_skin_checked="1" style="width: 40%; margin: 0 auto;">
            <label for="exampleSelect1" class="form-label mt-4" >카테고리</label>
            <select class="form-select" id="exampleSelect1" name="category">
                <option th:value="${myplaceEdit.category}" th:text="${myplaceEdit.category}"></option>
                <option th:if="${myplaceEdit.category == null or myplaceEdit.category != '맛집'}">맛집</option>
                <option th:if="${myplaceEdit.category == null or myplaceEdit.category != '카페'}">카페</option>
                <option th:if="${myplaceEdit.category == null or myplaceEdit.category != '숙소'}">숙소</option>
                <option th:if="${myplaceEdit.category == null or myplaceEdit.category != '관광지'}">관광지</option>
                <option th:if="${myplaceEdit.category == null or myplaceEdit.category != '액티비티'}">액티비티</option>
                <option th:if="${myplaceEdit.category == null or myplaceEdit.category != '기타'}">기타</option>
            </select>
        </div>
        <div class="form-group" bis_skin_checked="1" style="width: 40%; margin: 0 auto;">
            <label for="exampleTextarea" class="form-label mt-4">내용</label>
            <textarea class="form-control" id="exampleTextarea" rows="3" name="contents"
                      th:value="${myplaceEdit.contents}" th:text="${myplaceEdit.contents}"></textarea>
        </div>
        <div class="form-group" bis_skin_checked="1" style="width: 40%; margin: 0 auto;">
            <label for="formFile" class="form-label mt-4">파일 첨부하기</label>
            <input class="form-control" type="file" id="formFile" name="file" multiple>
        </div>
        <!-- 파일이 첨부되어 있는 경우 표시할 부분 -->
        <div th:unless="${#lists.isEmpty(myplaceEdit.originalFileName) or myplaceEdit.originalFileName[0] == ''}" class="form-group" bis_skin_checked="1" style="width: 40%; margin: 0 auto;">
            <label class="form-label mt-4">현재 첨부된 파일</label>
            <div>
                <!-- 각 파일에 대한 정보를 반복하여 표시 -->
                <div th:each="file, iterStat : ${myplaceEdit.originalFileName}">
                    <span th:text="${file}"></span>
                    <!-- 이 파일에 대한 삭제 버튼 -->
                    <input type="hidden" name="_csrf" th:method="delete" th:value="${_csrf.token}" />
                    <button type="button" class="btn btn-link" th:attr="onclick='confirmDelete(\'' + ${file} + '\', \'' + ${myplaceEdit.storedFileName[iterStat.index]} + '\')'">삭제</button>
                    <br>
                </div>
            </div>
        </div>
        <fieldset class="form-group">
            <div class="form-check form-switch" bis_skin_checked="1" style="width: 40%; margin-left: auto; margin-right: auto; margin-top: 30px">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="share" th:checked="${myplaceEdit.share}">
                <label class="form-check-label" for="flexSwitchCheckChecked">다른 사용자에게 내 장소를 공유합니다.</label>
            </div>
        </fieldset>
        <input type="hidden" name="userId" th:value="${id}" />
        <div class="d-grid gap-2" bis_skin_checked="1" style="width: 40%; margin-bottom: 50px; margin-left: auto; margin-right: auto; text-align: center; margin-top: 30px">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            <button class="btn btn-lg btn-primary" type="submit" onclick="myplaceSubmit()">저장하기</button>
        </div>
    </fieldset>
</form>
</body>
<script>
    function confirmDelete(originalFileName, storedFileName) {
        if (confirm('정말로 파일을 삭제하시겠습니까?')) {
            deleteFile(originalFileName, storedFileName);
        }
    }

    function deleteFile(originalFileName, storedFileName) {
        console.log('Deleting file(original):', originalFileName);
        console.log('Deleting file(stored):', storedFileName);

        // JSON 형식으로 데이터 전송
        var requestData = {
            originalFileName: encodeURIComponent(originalFileName),
            storedFileName: encodeURIComponent(storedFileName)
        };

        $.ajax({
            type: "DELETE",
            url: "/myplace/deleteFile",
            headers: {
                "X-CSRF-TOKEN": $('[name="_csrf"]').val()
            },
            contentType: "application/json",
            data: JSON.stringify(requestData),
            success: function(response) {
                console.log('파일 삭제 성공:', response);
                // 삭제된 파일의 HTML 요소를 삭제
                var fileToDelete = $("span:contains('" + originalFileName + "')").parent();
                fileToDelete.remove();
            },
            error: function(xhr, status, error) {
                console.error('파일 삭제 실패:', error);
            }
        });
    }

</script>
</html>