<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="~{layout/head.html :: main-head}"></div>
    <title>My Hotple myplace page</title>
</head>
<body>
<nav th:replace="~{layout/nav.html :: main-nav}"></nav>
<h2 style="margin-top: 50px; margin-bottom: 50px; text-align: center">My Place List</h2>
<div class="d-flex justify-content-end mb-3">
    <button type="button" class="btn btn-secondary"
            style="margin-right: 150px; margin-bottom: 20px"
            onclick="location.href='myplace/write.html'"
            th:onclick="|location.href='@{/myplace/write}'|">장소 추가하기</button>
</div>
<div class="row justify-content-center">
    <div class="col-md-5" th:each="myplace: ${myplaceDTOPage}">
        <div class="card border-secondary mb-3" style="text-align: center" >
            <p class="card-header" th:text="'[' + ${myplace.category} + ']'" ></p>
            <div class="card-header" ><a th:href="@{|/myplace/${myplace.id}|(page=${myplaceDTOPage.number + 1})}" th:text="${myplace.placeName} "></a></div>

            <div class="card-body">
                <h4 class="card-title" th:text="${myplace.address}"></h4>
                <p class="card-text"  th:text="${myplace.contents}"></p>
            </div>
        </div>
    </div>
</div>
<div style="text-align: center; margin-bottom: 50px; margin-top: 30px">
    <!-- 첫번째 페이지로 이동 -->
    <!-- /shared/list?page=1 -->
    <a th:href="@{/myplace/list(page=1)}">First</a>
    <!-- 이전 링크 활성화 비활성화 -->
    <!-- boardList.getNumber() 사용자:2페이지 getNumber()=1 -->
    <a th:href="${myplaceDTOPage.first} ? '#' : @{/myplace/list(page=${myplaceDTOPage.number})}">prev</a>

    <!-- 페이지 번호 링크(현재 페이지는 숫자만)
            for(int page=startPage; page<=endPage; page++)-->
    <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
<!-- 현재페이지는 링크 없이 숫자만 -->
        <span th:if="${page == myplaceDTOPage.number + 1}" th:text="${page}"></span>
        <!-- 현재페이지 번호가 아닌 다른 페이지번호에는 링크를 보여줌 -->
        <span th:unless="${page == myplaceDTOPage.number + 1}">
            <a th:href="@{/myplace/list(page=${page})}" th:text="${page}"></a>
        </span>
    </span>

    <!-- 다음 링크 활성화 비활성화
        사용자: 2페이지, getNumber: 1, 3페이지-->
    <a th:href="${myplaceDTOPage.last} ? '#' : @{/myplace/list(page=${myplaceDTOPage.number + 2})}">next</a>
    <!-- 마지막 페이지로 이동 -->
    <a th:href="@{/myplace/list(page=${myplaceDTOPage.totalPages})}">Last</a>
</div>
</body>
</html>