<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="main-head">
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav th:fragment="main-nav" class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid" bis_skin_checked="1">
        <a class="navbar-brand" href="/main">My Hotple</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01" bis_skin_checked="1">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shared/list">Shared Place</a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" href="/shared">Shared Place-->
<!--                        <span class="visually-hidden">(current)</span>-->
<!--                    </a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/myplace/list">My Place</a>
                </li>
            </ul>
            <div>
                <span class="navbar-text" style="margin-right: 30px" th:if="${nickname != null}">안녕하세요, <span th:text="${nickname}" ></span>님!</span>
            </div>
            <form id="logoutForm" action="/logout" method="post">
                <div class="btn-group" role="group" aria-label="Basic example" bis_skin_checked="1">
                    <button type="button"
                            class="btn btn-secondary"
                            th:onclick="|location.href='@{/mypage}'|">MyPage</button>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button type="submit"
                            class="btn btn-secondary">Logout</button>
                </div>
            </form>
        </div>
    </div>
</nav>

<footer th:fragment="write-edit">
    <form name="myplaceForm" action="/myplace/save" method="post">
        <fieldset>
            <div class="form-group" bis_skin_checked="1" style="width: 40%; margin: 0 auto;">
                <label class="col-form-label mt-4">장소 이름</label>
                <input type="text" class="form-control" name="placeName">
            </div>
            <div class="form-group" bis_skin_checked="1" style="width: 40%; margin: 0 auto;">
                <label class="col-form-label mt-4">주소</label>
                <input type="text" class="form-control" name="address">
            </div>
            <div class="form-group" bis_skin_checked="1" style="width: 40%; margin: 0 auto;">
                <label for="exampleSelect1" class="form-label mt-4" >카테고리</label>
                <select class="form-select" id="exampleSelect1" name="category">
                    <option>맛집</option>
                    <option>카페</option>
                    <option>숙소</option>
                    <option>관광지</option>
                    <option>액티비티</option>
                    <option>기타</option>
                </select>
            </div>
            <div class="form-group" bis_skin_checked="1" style="width: 40%; margin: 0 auto;">
                <label for="exampleTextarea" class="form-label mt-4" >내용</label>
                <textarea class="form-control" id="exampleTextarea" rows="3" name="contents"></textarea>
            </div>
            <div class="form-group" bis_skin_checked="1" style="width: 40%; margin: 0 auto;">
                <label for="formFile" class="form-label mt-4">파일 첨부하기</label>
                <input class="form-control" type="file" id="formFile" name="photo">
            </div>
            <fieldset class="form-group">
                <div class="form-check form-switch" bis_skin_checked="1" style="width: 40%; margin-left: auto; margin-right: auto; margin-top: 30px">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="share" th:checked="${share}">
                    <label class="form-check-label" for="flexSwitchCheckChecked">다른 사용자에게 내 장소를 공유합니다.</label>
                </div>
            </fieldset>
            <input type="hidden" name="userId" th:value="${id}" />
            <div class="d-grid gap-2" bis_skin_checked="1" style="width: 40%; margin-bottom: 50px; margin-left: auto; margin-right: auto; text-align: center; margin-top: 30px">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                <button class="btn btn-lg btn-primary" type="submit" onclick="myplaceSubmit()">저장하기</button>
            </div>
        </fieldset>
    </form>
</footer>

<footer th:fragment="comment">
    <div class="card" bis_skin_checked="1"  style="width: 60%; margin: 50px auto;">
        <div class="card-body" bis_skin_checked="1">
            <h6 class="card-subtitle mb-2 text-muted">댓글 작성자</h6>
            <p class="card-text">여기에는 댓글 내용을 적는 게 좋을 것 같다.</p>
            <a href="#" class="card-link">수정</a>
            <a href="#" class="card-link">삭제</a>
        </div>
    </div>
</footer>
</body>
</html>