<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <title>My Hotple Join Page</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/join.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid" bis_skin_checked="1">
        <a class="navbar-brand" href="/">My Hotple</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01" bis_skin_checked="1">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shared">Shared Place</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myplace/list">My Place</a>
                </li>
            </ul>
            <div class="btn-group" role="group" aria-label="Basic example" bis_skin_checked="1">
                <button type="button"
                        class="btn btn-secondary"
                        onclick="location.href='login.html'"
                        th:onclick="|location.href='@{/login}'|">Login</button>
            </div>
        </div>
    </div>
</nav>

<form th:action="@{/joinProc}" method="post" name="joinForm">
    <div class="form-group" bis_skin_checked="1" style="width: 40%; margin: 0 auto; text-align: center;">
        <h2 style="margin-top: 50px; margin-bottom: 50px">회원가입</h2>
        <div class="form-floating mb-3" bis_skin_checked="1">
            <input type="text" class="form-control" name="nickname" id="nickname" required pattern="^[가-힣a-zA-Z]{1,50}$" placeholder="nickname">
            <label for="nickname">이름</label>
            <p id="nicknameMessage"></p>
        </div>
        <div class="form-floating mb-3" bis_skin_checked="1">
            <input type="email" class="form-control" name="username" id="username" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="name@example.com">
            <label for="username">이메일</label>
            <p id="usernameMessage"></p>
        </div>
        <div class="form-floating mb-3" bis_skin_checked="1">
            <input type="password" class="form-control" name="password" id="password"  required pattern="^[A-Za-z\d@$!%*?&\-_#]{8,16}$" placeholder="Password" autocomplete="off">
            <label for="password">비밀번호</label>
            <p id="passwordMessage"></p>
        </div>
        <div class="form-floating" bis_skin_checked="1">
            <input type="password" class="form-control" id="confirm_password" placeholder="Password" autocomplete="off">
            <label for="confirm_password">비밀번호 확인</label>
            <p id="message"></p>

        </div>
    </div>
    <div class="d-grid gap-2" bis_skin_checked="1" style="width: 40%; margin-left: auto; margin-right: auto; text-align: center; margin-top: 30px">
        <button class="btn btn-lg btn-primary" type="submit" id="joinBtn">Join</button>
    </div>
</form>
</body>
</html>