<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments.html :: main-head"></div>
    <link th:href="@{/css/mainmap.css}"
          href="../css/mainMap.css" rel="stylesheet">
    <title>My Hotple Main Page</title>
</head>
<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<h2 align="center" style="margin-top: 50px; margin-bottom: 50px">My Page</h2>
<div style="display: flex; justify-content: center;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Profile</a></li>
         <li class="breadcrumb-item"><a href="#">Comment</a></li>
    </ol>
</div>
<div style="flex-direction: column; width: 30%; margin: 0 auto;">
    <div bis_skin_checked="1">
        <fieldset>
            <label class="form-label mt-4">Name</label>
            <input class="form-control" type="text"  readonly th:value="${nickname}">
        </fieldset>
    </div>
    <div bis_skin_checked="1">
        <fieldset>
            <label class="form-label mt-4" >Email</label>
            <input class="form-control" type="text" readonly="" th:value="${username}">
        </fieldset>
    </div>
</div>
</body>
</html>