<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <div th:replace="fragments.html :: main-head"></div>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Hotple Login Page</title>
</head>
<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<form th:action="@{/loginProc}" method="post" name="loginForm">
  <div class="form-group" bis_skin_checked="1" style="width: 40%; margin: 0 auto; text-align: center;">
    <h2 style="margin-top: 50px; margin-bottom: 50px">로그인</h2>
    <div class="form-floating mb-3" bis_skin_checked="1">
      <input type="email" class="form-control" name="username" id="floatingEmail" placeholder="name@example.com">
      <label for="floatingEmail">이메일</label>
    </div>
    <div class="form-floating mb-3" bis_skin_checked="1">
      <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password" autocomplete="off">
      <label for="floatingPassword">비밀번호</label>
    </div>
  </div>
  <div class="d-grid gap-2" bis_skin_checked="1"
       style="width: 40%; margin-left: auto; margin-right: auto; text-align: center; margin-top: 30px; margin-bottom: 30px">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    <button class="btn btn-lg btn-primary" type="submit">Login</button>
  </div>
  <div th:if="error">
    <p class="lead" id="valid"
       style="color: red; font-size:20px; text-align: center"><a th:text="${exception}"></a></p>
  </div>
</form>
<div style="text-align: center;">
  <a href="join">계정이 없으신가요?</a>
</div>

</body>
</html>
